.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }
  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}

/* Page Footer */

footer {
  background-color: rgba(48, 56, 65, 1);
  padding: 3% 0% 0% 0%;
}

.first-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0% 18%;
  padding-bottom: 3%;
}

.location, .calls, .time {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foot-icon {
  font-size: 30px;
  color: rgba(231, 61, 80, 1);
  display: block;
  margin-right: 15px;
}

.foot-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.foot-texts h3 {
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}

.foot-texts p {
  color: rgba(109, 118, 125, 1);
  font-size: 15px;
}

.second-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(58, 71, 80, 1);
  padding: 2% 0% 1% 0%;
}

.second-section a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0% 0.5%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-decoration: none;
  background-color: rgba(231, 61, 80, 1);
}

.link-icon {
  font-size: 30px;
  color: white;
  margin-right: 0px;
}

.copy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(58, 71, 80, 1);
  color: rgb(182, 190, 196);
  padding-bottom: 1%;
}

@media (max-width:700px) {
  .first-section {
    width: 100%;
    flex-direction: column;
  }

  .location, .calls, .time {
    width: 90%;
    margin: 5% 0%;
  }
}